.appContainer {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.7vmin);
    color: #ffff;
    font-family: 'Kanit', sans-serif;
  }

.catSVG {
    position: static;
}