* {
  margin:0;
  padding: 0;

}

Parallax {
  width: 100%;
  height: 500px;
}

.App {
  /* text-align: center; */
    background-color: #001220;
  /* z-index: -1; */
  position: relative; /* Add this line */
  overflow-x:hidden;
  width: 100%;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  width:99%;
  align-items: center;
}

.nav-left {
  /* border: 1px solid white; */
  font-family: 'Oswald', sans-serif;

  display: flex;
  gap: 3px;
  justify-content: flex-start;


  /* padding-left: 50px;
  padding-right: 70px; */
  user-select: none;
  flex: 1;
}

.nav-right {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  gap: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(2px + 2vmin);
}

.navBtnGithub {
  /* justify-self: flex-end;
  flex:auto;
  text-align: right; */
  
  /* margin:auto; */
  /* float: right; */
}

.navBtnProjects {
  /* justify-self: flex-end;
  flex:.12;
  text-align: right; */
  
  /* margin:auto; */
  /* float: right; */
}

.firstName {
  margin-left: 10px;
  font-weight: 600;
}

.lastName {
  color: #61dafb96 !important;
  font-weight: 400;
}

.splash {
  width: 100%;
  top: 25%;
  position: fixed;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;


}

.left-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: max-content;
  white-space: nowrap;
}

.catSVG {
  width: 100%; /* Set the width to 100% to make it responsive */
  max-width: 300px; /* You can set a maximum width if needed */
  height: auto; /* Let the height adjust proportionally */
  @media (max-width: 800px){
    max-width: 200px;
  }
  @media (max-width: 400px){
    max-width: 100px;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffff;
  font-family: 'Kanit', sans-serif;
}

.footer {
  /* flex: auto; */
  margin-top: auto;
  font-size: calc(1px + 2vmin);
  text-align: left;
  width: 100%;
  margin-left: 50px;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.section-1 {
  aspect-ratio: 960/300;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  /* border: 1px solid white; */
}
.section-1-background {
  /* aspect-ratio: 960/300;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./layered-waves-haikei(5).svg'); */
  /* border: 1px solid white; */

  background-image: url('./wavys.svg');
  /* display: flex; */
  width: 50%;
}
.waves {
  position: relative;
  float: left;
  flex: none;
}

.flex-1 {
  
  font-weight: 400;
  /* text-align: left; */
  /* border: 1px solid white; */
  flex: 7;
  text-align: right;
  @media (max-width:450px) {
    h1 {
      font-size: 25pt;
    }
    h3 {
      font-size: 12pt;
    }
  }
}

h1 h3 .flex-1 {
  margin: 0;
  padding:0;
}

.flex-2 {

  font-weight: 400;
  /* text-align: left; */
  /* border: 1px solid white; */
  flex: 4;
}

.flex-3 {
  
  font-weight: 400;
  flex: 7;

  @media (max-width:450px) {
    h1 {
      font-size: 25pt;
    }
    h3 {
      font-size: 12pt;
    }
  }
}

.developer {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23a90449'%3E%3C/rect%3E%3Cpath d='M0 279L13.7 255.5C27.3 232 54.7 185 82 167.5C109.3 150 136.7 162 163.8 180.8C191 199.7 218 225.3 245.2 211.7C272.3 198 299.7 145 327 150.3C354.3 155.7 381.7 219.3 409 239.5C436.3 259.7 463.7 236.3 491 207.8C518.3 179.3 545.7 145.7 573 124.2C600.3 102.7 627.7 93.3 654.8 109.2C682 125 709 166 736.2 189.3C763.3 212.7 790.7 218.3 818 221.2C845.3 224 872.7 224 886.3 224L900 224L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff0066'%3E%3C/path%3E%3Cpath d='M0 266L13.7 241.3C27.3 216.7 54.7 167.3 82 148.5C109.3 129.7 136.7 141.3 163.8 173.7C191 206 218 259 245.2 255.2C272.3 251.3 299.7 190.7 327 168.3C354.3 146 381.7 162 409 183.7C436.3 205.3 463.7 232.7 491 225.2C518.3 217.7 545.7 175.3 573 164.2C600.3 153 627.7 173 654.8 182.5C682 192 709 191 736.2 186C763.3 181 790.7 172 818 178C845.3 184 872.7 205 886.3 215.5L900 226L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff1c64'%3E%3C/path%3E%3Cpath d='M0 226L13.7 212.8C27.3 199.7 54.7 173.3 82 188.2C109.3 203 136.7 259 163.8 263.2C191 267.3 218 219.7 245.2 220.7C272.3 221.7 299.7 271.3 327 295.5C354.3 319.7 381.7 318.3 409 290.2C436.3 262 463.7 207 491 182C518.3 157 545.7 162 573 193C600.3 224 627.7 281 654.8 283.8C682 286.7 709 235.3 736.2 209.8C763.3 184.3 790.7 184.7 818 191.3C845.3 198 872.7 211 886.3 217.5L900 224L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff2b63'%3E%3C/path%3E%3Cpath d='M0 310L13.7 303.3C27.3 296.7 54.7 283.3 82 289.2C109.3 295 136.7 320 163.8 311.2C191 302.3 218 259.7 245.2 255.5C272.3 251.3 299.7 285.7 327 304.2C354.3 322.7 381.7 325.3 409 318.7C436.3 312 463.7 296 491 292.8C518.3 289.7 545.7 299.3 573 298.8C600.3 298.3 627.7 287.7 654.8 272.8C682 258 709 239 736.2 248C763.3 257 790.7 294 818 290.3C845.3 286.7 872.7 242.3 886.3 220.2L900 198L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff3662'%3E%3C/path%3E%3Cpath d='M0 389L13.7 389C27.3 389 54.7 389 82 362.8C109.3 336.7 136.7 284.3 163.8 280.3C191 276.3 218 320.7 245.2 332.3C272.3 344 299.7 323 327 314.2C354.3 305.3 381.7 308.7 409 316.5C436.3 324.3 463.7 336.7 491 329.5C518.3 322.3 545.7 295.7 573 291C600.3 286.3 627.7 303.7 654.8 309.2C682 314.7 709 308.3 736.2 304.3C763.3 300.3 790.7 298.7 818 300.2C845.3 301.7 872.7 306.3 886.3 308.7L900 311L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff3f61'%3E%3C/path%3E%3Cpath d='M0 361L13.7 355.5C27.3 350 54.7 339 82 330.3C109.3 321.7 136.7 315.3 163.8 318.2C191 321 218 333 245.2 330.5C272.3 328 299.7 311 327 315.7C354.3 320.3 381.7 346.7 409 348C436.3 349.3 463.7 325.7 491 308.5C518.3 291.3 545.7 280.7 573 291.3C600.3 302 627.7 334 654.8 335.8C682 337.7 709 309.3 736.2 297.8C763.3 286.3 790.7 291.7 818 314C845.3 336.3 872.7 375.7 886.3 395.3L900 415L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff4760'%3E%3C/path%3E%3Cpath d='M0 439L13.7 440.7C27.3 442.3 54.7 445.7 82 438.3C109.3 431 136.7 413 163.8 403.2C191 393.3 218 391.7 245.2 387.5C272.3 383.3 299.7 376.7 327 377.8C354.3 379 381.7 388 409 379.2C436.3 370.3 463.7 343.7 491 341.5C518.3 339.3 545.7 361.7 573 380.7C600.3 399.7 627.7 415.3 654.8 424C682 432.7 709 434.3 736.2 434.3C763.3 434.3 790.7 432.7 818 431C845.3 429.3 872.7 427.7 886.3 426.8L900 426L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff4f60'%3E%3C/path%3E%3Cpath d='M0 407L13.7 404C27.3 401 54.7 395 82 393C109.3 391 136.7 393 163.8 387.7C191 382.3 218 369.7 245.2 371.8C272.3 374 299.7 391 327 406.5C354.3 422 381.7 436 409 442.8C436.3 449.7 463.7 449.3 491 444.8C518.3 440.3 545.7 431.7 573 420.3C600.3 409 627.7 395 654.8 401.3C682 407.7 709 434.3 736.2 444.8C763.3 455.3 790.7 449.7 818 434.2C845.3 418.7 872.7 393.3 886.3 380.7L900 368L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff5660'%3E%3C/path%3E%3Cpath d='M0 438L13.7 444.8C27.3 451.7 54.7 465.3 82 474C109.3 482.7 136.7 486.3 163.8 480.5C191 474.7 218 459.3 245.2 453.3C272.3 447.3 299.7 450.7 327 455C354.3 459.3 381.7 464.7 409 462.7C436.3 460.7 463.7 451.3 491 456C518.3 460.7 545.7 479.3 573 473C600.3 466.7 627.7 435.3 654.8 434.8C682 434.3 709 464.7 736.2 478C763.3 491.3 790.7 487.7 818 486.5C845.3 485.3 872.7 486.7 886.3 487.3L900 488L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff5d60'%3E%3C/path%3E%3Cpath d='M0 527L13.7 516.7C27.3 506.3 54.7 485.7 82 485.5C109.3 485.3 136.7 505.7 163.8 501.5C191 497.3 218 468.7 245.2 462.7C272.3 456.7 299.7 473.3 327 475.5C354.3 477.7 381.7 465.3 409 464.5C436.3 463.7 463.7 474.3 491 471.8C518.3 469.3 545.7 453.7 573 456.8C600.3 460 627.7 482 654.8 496.8C682 511.7 709 519.3 736.2 509.3C763.3 499.3 790.7 471.7 818 469.7C845.3 467.7 872.7 491.3 886.3 503.2L900 515L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff6360'%3E%3C/path%3E%3Cpath d='M0 510L13.7 512C27.3 514 54.7 518 82 519.3C109.3 520.7 136.7 519.3 163.8 512.2C191 505 218 492 245.2 489.7C272.3 487.3 299.7 495.7 327 501.7C354.3 507.7 381.7 511.3 409 515.7C436.3 520 463.7 525 491 522C518.3 519 545.7 508 573 501.2C600.3 494.3 627.7 491.7 654.8 489.3C682 487 709 485 736.2 485.3C763.3 485.7 790.7 488.3 818 497.5C845.3 506.7 872.7 522.3 886.3 530.2L900 538L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff6960'%3E%3C/path%3E%3Cpath d='M0 532L13.7 530.7C27.3 529.3 54.7 526.7 82 533.2C109.3 539.7 136.7 555.3 163.8 555.2C191 555 218 539 245.2 535.8C272.3 532.7 299.7 542.3 327 545.2C354.3 548 381.7 544 409 544.7C436.3 545.3 463.7 550.7 491 554.2C518.3 557.7 545.7 559.3 573 559.7C600.3 560 627.7 559 654.8 556C682 553 709 548 736.2 545.2C763.3 542.3 790.7 541.7 818 541.8C845.3 542 872.7 543 886.3 543.5L900 544L900 601L886.3 601C872.7 601 845.3 601 818 601C790.7 601 763.3 601 736.2 601C709 601 682 601 654.8 601C627.7 601 600.3 601 573 601C545.7 601 518.3 601 491 601C463.7 601 436.3 601 409 601C381.7 601 354.3 601 327 601C299.7 601 272.3 601 245.2 601C218 601 191 601 163.8 601C136.7 601 109.3 601 82 601C54.7 601 27.3 601 13.7 601L0 601Z' fill='%23ff6f61'%3E%3C/path%3E%3C/svg%3E");
    background-size: 110% auto;
    background-position: bottom 80% right 1%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
  }
}

.left-spacer {
  flex-grow: 3;
}

.section-2-background {
  background-image: url('./wavys2.svg');
}

.section-2 {
  aspect-ratio: 960/300;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  width: 100%;
  /* z-index: -1; */
  display: flex;
  flex-direction: row;
  flex: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./wavys2.svg');
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
